<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

    <!-- This is the way a servlet has to be declared, the servlet name is just a place holder -->
	<!-- The servlet mapping maps the name to a URL -->
	<!-- For each new servlet you will have to make a servlet and a mapping declaration, keep the mappings unique -->
	<servlet>
		<servlet-name>FIFAWcQA</servlet-name>
		<servlet-class>com.footbalfrenzy.quizapp.FIFAWcQAServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FIFAWcQA</servlet-name>
		<url-pattern>/fifawcqa</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>NewQuestion</servlet-name>
		<servlet-class>com.footballfrenzy.quizapp.questionservlets.NewQuestionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewQuestion</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetQuestion</servlet-name>
		<servlet-class>com.footballfrenzy.quizapp.questionservlets.GetQuestionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetQuestion</servlet-name>
		<url-pattern>/get</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetQuestionFromID</servlet-name>
		<servlet-class>com.footballfrenzy.quizapp.questionservlets.GetQuestionFromIdServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetQuestionFromID</servlet-name>
		<url-pattern>/getquestionfromid</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetUser</servlet-name>
		<servlet-class>com.footballfrenzy.quizapp.userservlets.GetUserDataServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetUser</servlet-name>
		<url-pattern>/getuser</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DeleteUser</servlet-name>
		<servlet-class>com.footballfrenzy.quizapp.userservlets.DeleteUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteUser</servlet-name>
		<url-pattern>/deleteuser</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>NewUser</servlet-name>
		<servlet-class>com.footballfrenzy.quizapp.userservlets.NewUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NewUser</servlet-name>
		<url-pattern>/adduser</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ModifyUser</servlet-name>
		<servlet-class>com.footballfrenzy.quizapp.userservlets.ModifyUserDataServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModifyUser</servlet-name>
		<url-pattern>/modifyuser</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AddQuestionToUser</servlet-name>
		<servlet-class>com.footballfrenzy.quizapp.userservlets.QuestionIsAnsweredServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddQuestionToUser</servlet-name>
		<url-pattern>/recordanswer</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CheckQuestionForUser</servlet-name>
		<servlet-class>com.footballfrenzy.quizapp.userservlets.CheckIsQuestionAnsweredServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckQuestionForUser</servlet-name>
		<url-pattern>/check</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ValidateUser</servlet-name>
		<servlet-class>com.footballfrenzy.quizapp.userservlets.DoesUserExistServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ValidateUser</servlet-name>
		<url-pattern>/validateuser</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
